<!-- 
 <mat-sidenav-container>
    <div id="board">      
        <div class=" board-content-wrapper p-16 p-md-24" style="flex: 1 1 0%; box-sizing: border-box;" *ngFor="let boar of board "
            fxLayoutAlign="center center"   >
                <mat-icon class="s-56">assessment</mat-icon>
                <div class="board-name">{{boar.name_task  }}</div>  
                <br>
                <div class="board-name">{{boar.desc_t_t }}</div>     
        </div>

        
    </div>
</mat-sidenav-container>  -->

<mat-sidenav-container>

        <div id="board">
    
            <!-- HEADER -->
            <div class="header p-16 p-md-24"fxLayout="column">
    
                <div class="header-content" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="1 0 auto">
    
                    <!-- BOARD SELECTION BUTTON -->
                    <div fxLayout="row" fxLayoutAlign="center center" fxFlexOrder="2" fxFlexOrder.gt-xs="1">
                        <button mat-raised-button class="header-boards-button"
                               style="color:black"
                                routerLink="/apps/scrumboard/boards"
                                aria-label="boards button">
                            <mat-icon class="mr-8">assessment</mat-icon>
                            <span>BOARDS</span>
                        </button>
                    </div>
                    <!-- / BOARD SELECTION BUTTON -->
    
                    <!-- BOARD NAME -->
                    <div class="header-board-name mb-8 mb-md-0"
                         fxLayout="row" fxLayoutAlign="center center"
                         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center center"
                         fxFlex="1 0 100%" fxFlex.gt-xs="1 0 auto"
                         fxFlexOrder="1" fxFlexOrder.gt-xs="2">
                        <mat-icon  class="board-subscribe s-16">remove_red_eye</mat-icon>
                        
                    </div> 
                    <!-- / BOARD NAME -->
    
                    <!-- TOOLBAR -->
                    <div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxFlexOrder="3">
    
                        <!-- BOARD SETTINGS BUTTON -->
                        <!-- <button mat-icon-button (click)="settingsSidenav.toggle()"
                                aria-label="Settings" matTooltip="Settings">
                            <mat-icon>settings</mat-icon>
                        </button> -->
                        <!-- / BOARD SETTINGS BUTTON -->
                    </div>
                    <!-- / TOOLBAR -->
    
                </div>
    
            </div>
            <!-- / HEADER -->
    
            <div fxFlex class="board-content-wrapper p-16 p-md-24">
    
                <!-- BOARD -->
                 <div class="board-content ngx-dnd-container p-16 p-md-24" fxLayout="row" >
     
                    <!-- LIST -->
                  
                             
                                <div class=" board-content-wrapper p-16 p-md-24" style="flex: 1 1 0%; box-sizing: border-box;" *ngFor="let boar of board "
                                    fxLayoutAlign="center center"   >
                                        <mat-icon class="s-56">assessment</mat-icon>
                                        <div class="board-name">{{boar.name_task  }}</div>      
                                </div>
   
                        <div class="board-list-item add-new-board" fxLayout="column" fxLayoutAlign="center center"
                        (click)="newBoard()"
                        [@animate]="{value:'*',params:{y:'100%'}}">
                       <mat-icon class="s-56">add_circle</mat-icon>
                       <div class="board-name">Add new board</div>
                   </div>
                    <!-- / LIST -->
    
                    <!-- NEW LIST BUTTON-->
                  
    
                </div>
                <!-- / BOARD -->
            </div>
       
    

    


